/* Global Styles */
html, body {
    background-color: rgba(255, 255, 255, 0.78);
    font-family: "Fahkwang", sans-serif;
    color: rgba(37, 37, 37, 0.57);
    height: 100%;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

/* Text Elements */
h1, h2, h3 {
    font-weight: 700;
}

main {
    margin-left: 200px;
    padding: 20px;
    height: 100%;
    overflow-y:auto;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100% !important;
        align-items: center !important;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    main{
        margin-left:0;
    }
}

@media screen and (max-width: 700px) {
    .sidebar.active{
        padding-top: 20%;
    }
    .sidebar a {
        text-align: center;
        float: none;
    }
}

button {
    background-color: #718096;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: rgba(66, 77, 93, 0.39);
    box-shadow: 1px 1px 5px rgba(141, 138, 138, 0.5);
    transform: scale(1.05);
}

/* Dropdown */
.nav-item.dropdown, .dropdown-item {
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-item {
}

.dropdown-item:hover {
}

/* Hero Section */
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero-img, #hero-bird {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
}

#hero-header {
    padding-top: 15%;
}

#login-card {
    align-content: center;
}

#photo-description {
    background-color: rgba(171, 196, 171, 0.01);
    border: 1px solid #f3f3ff;
}

input[type="file"] {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 20px;
    outline: none;
    border: 1px solid #f3f3ff;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
}

#about-container p {
    font-size: 1.1em;
}

#about-page-image {
    border: 1px solid white;
}

#footer {
    background-color: rgba(255, 252, 252);
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 250px;
    margin: 5px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    width:200px;
    background-color: white;
    position:fixed;
    height:100%;
    overflow:auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #efe2e2;
    color: white;
}

.sidebar a:hover:not(.active) {
    color: rgba(47, 56, 47, 0.5);
    transition: color 0.2s ease;
}


@media (max-width: 701px) {
    .sidebar {
        display:none;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: #333;
    }

    .hamburger {
        display: block;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .sidebar.active {
        display: block;
    }
}

@media (min-width: 701px) {
    .hamburger {
        display: none;
    }
    .sidebar {
        display: flex;
    }
}
